body {
    padding-top: 100px;
}
container {

}

bg {

}

.navbar {
    overflow: hidden;
    background-color: #51BC80;
    top: 0;
    width: 100%;

}

p {
    color: black;
}

.img-with-text {
    text-align: justify;
    width: 100px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

#Titlebar + navbar > #Titlebar-top {
    top: 9px;
}

#Titlebar + navbar {
    padding-top: 0px;
}

